
<div class="uk-width-xxlarge uk-margin uk-align-center">
  <div class="uk-card uk-card-small uk-card-default uk-card-body">
    <h2><%= t('.sign_in') %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="uk-margin">
        <div class="uk-inline">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input uk-form-width-large" %>
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "uk-input uk-form-width-large" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="uk-margin">
          <div class="uk-inline">
            <%= f.check_box :remember_me, class: "uk-checkbox" %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t('.sign_in'), class: "uk-button uk-button-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>

