<header>

  <nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
        <li class="uk-active"><%= link_to 'Home', root_path %></li>
      </ul>

    </div>

    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">
        <% if user_signed_in? %>
          <li>
            <a href="#"><%= current_user.email %></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><%= link_to 'Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>

        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>

    </div>

  </nav>

</header>
