<!DOCTYPE html>
<html>
  <head>
    <title>GirlsSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/header' %>

      <% if notice %>
        <div class="uk-alert-success" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
